.container.title
  span.moto Мы 
    span.title_piece знаем как 
    | создавать медицинские информационные системы будущего
  span.desc Эксперты в Health IT. Разрабатываем для клиентов на основе наших технологичных продуктов и стандарта HL7 FHIR.

.container.products
  h3 Продукты &nbsp
    small 
      a.lbl(href="#/products") Все продукты (5)
  br
  .col-md-4
    a.item-product(href="#/products#fhirbase")
      span.image-product
        i.fa.fa-fire.logo
      span.productname
        h3 Fhirbase &nbsp
          small Open Source
        p Реляционное хранилище для медицинских данных на основе HL7 FHIR
  .col-md-4
    a.item-product(href="#/products#aidbox")
      span.image-product
        i.fa.fa-gift.logo
      span.productname
        h3 Aidbox
        p Облачная платформа для разработки медицинских приложений на основе HL7 FHIR
  .col-md-4
    a.item-product(href="#/products#hl7mapper")
      span.image-product
        i.fa.fa-arrow-circle-o-right.logo
      span.productname
        h3 HL7 Mapper
        p Интеграционный модуль для преобразования сообщений HL7 v2.x в HL7 FHIR и обратно
.container.projects
  h3 Проекты &nbsp
    small
      a.lbl(href="#/works") Все проекты (9)
  br
  .cont-projects
    a.item-project(href="#/works#medclient")
      span 2007-2014
      h3 MedClient EHR
      span Разработка, внедрение в 4-х американских клиниках и сертификация облачной EHR
    a.item-project(href="#/works#kainos")
      span 2015 год
      h3 Kainos
      span Доработка Fhirbase под нужды проекта Kainos
    a.item-project(href="#/works#netrika")
      span 2015
      h3 Netrika
      span Консультирование и обучение по HL7 FHIR и внедрение Fhirbase в рамках региональной шины
      i.fa.fa-chevrone-right

.container.products
  h3 Обучение &nbsp
    small 
      a.lbl(href="#/") Все обучения (9)
  br
  .col-md-4
    a.item-product
      span.image-product
        span B
      span.productname
        h3 Основы HL7 FHIR
        p Реляционное хранилище для медицинских данных на основе HL7 FHIR
  .col-md-4  
    a.item-product
      span.image-product
        span E
      span.productname
        h3 Анатомия Fhirbase
        p Реляционное хранилище для медицинских данных на основе HL7 FHIR
  .col-md-4  
    a.item-product
      span.image-product
        span M
      span.productname
        h3 HL7 v2.x
        p Реляционное хранилище для медицинских данных на основе HL7 FHIR

.container.offers
  h3 Виды сотрудничества &nbsp
  br
  ul.list-unstyled
    li.item-offer
      .row
        .col-md-1.text-center
          i.fa.fa-rocket.logo
        .col-md-9
          h4 "Быстрый старт" и обучение вашей команды
          p Быстрый старт вашего проекта на базе наших наработок
        .col-md-2
    li.item-offer
      .row
        .col-md-1.text-center
          i.fa.fa-rocket.logo
        .col-md-9
          h4 "Быстрый старт" и заказная разработка нашей командой
          p Быстрый старт вашего проекта на базе наших наработок
        .col-md-2
    li.item-offer
      .row
        .col-md-1.text-center
          i.fa.fa-life-ring.logo
        .col-md-9
          h4 Коммерческая поддержка для продукта Fhirbase
          p Быстрый старт вашего проекта на базе наших наработок
        .col-md-2
    li.item-offer
      .row
        .col-md-1.text-center
          i.fa.fa-graduation-cap.logo
        .col-md-9
          h4 Обучение стандартам и нашим продуктам
          p Быстрый старт вашего проекта на базе наших наработок
        .col-md-2
    li.item-offer
      .row
        .col-md-1.text-center
          i.fa.fa-binoculars.logo
        .col-md-9
          h4 Консультации и аудиты
          p Быстрый старт вашего проекта на базе наших наработок
        .col-md-2

.calltoaction.text-center
  h4 Готовы к сотрудничеству?
  p Если у вас остались какие либо вопросы, хотите увидеть демо наших решений или обсудить с нами ваш проект - оставьте запрос и мы свяжемся с вами.
  br
  a.btn.btn-default.btn-lg Сотрудничать

.container.news
  h3 Новости и статьи &nbsp
  br
  .row
    <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@health_samurai">Health Samurai</a>
  //- .row
  //-   .col-md-6
  //-     ul.list-unstyled
  //-       li.item-article
  //-         p.article-title 
  //-           strong Название статьи
  //-         p Имя автора, 05.12.2015
  //-       li.item-article
  //-         p.article-title 
  //-           strong Название статьи
  //-         p Имя автора, 05.12.2015
  //-       li.item-article
  //-         p.article-title 
  //-           strong Название статьи
  //-         p Имя автора, 05.12.2015
  //-   .col-md-6
  //-     ul.list-unstyled
  //-       li.item-article
  //-         p.article-title 
  //-           strong Название статьи
  //-         p Имя автора, 05.12.2015
  //-       li.item-article
  //-         p.article-title 
  //-           strong Название статьи
  //-         p Имя автора, 05.12.2015
  //-       li.item-article
  //-         p.article-title
  //-           strong Название статьи
  //-         p Имя автора, 05.12.2015

//- a(href="#foo/") Foo
