.container-fluid.title.text-center
  .layer
  .container
    span.moto Мы 
      span.title_piece знаем как 
      | создавать медицинские информационные системы будущего
    span.desc Эксперты в Health IT. Разрабатываем для клиентов на основе наших технологичных продуктов и стандарта HL7 FHIR.
    //- a.btn.btn-default.hairus(href="http://fhirbase.github.io" target="_blank") Нанять нас
    //- .logo-place.text-center
    //-   i.hs-icon.icon-samurai.logo-bottom

.container.products
  h3 Продукты &nbsp
    small 
      a.lbl(href="#/products") Все продукты (5)
  br
  .col-md-4
    a.item-product(href="#/products#fhirbase")
      span.image-product
        i.hs-icon.logo.icon-fhirbase
        h1.text-left.product_labal Fhirbase &nbsp
      span.productname
        //- h3 Fhirbase &nbsp
          //- small.label Open Source
        p Реляционное хранилище для медицинских данных на основе HL7 FHIR
  .col-md-4
    a.item-product(href="#/products#aidbox")
      span.image-product
        i.hs-icon.logo.icon-aidbox
        h1.text-left.product_labal Aidbox &nbsp
      span.productname
        //- h3 Aidbox &nbsp
          //- small.label Platform as a Service
        p Облачная платформа для разработки медицинских приложений на основе HL7 FHIR
  .col-md-4
    a.item-product(href="#/products#hl7mapper")
      span.image-product
        i.hs-icon.logo.icon-mapper
        h1.text-left.product_labal HL7 Mapper &nbsp
      span.productname
        //- h3 HL7 Mapper &nbsp
          //- small.label Library
        p Интеграционный модуль для преобразования сообщений HL7 v2.x в HL7 FHIR и обратно
.container.projects
  h3 Проекты &nbsp
    small
      a.lbl(href="#/works") Все проекты (9)
  br
  //- .col-md-6.project-box
  //-   p
  //- .col-md-6.project-box
  //-   p
  //- .col-md-6.project-box
  //-   p 
  //- .col-md-6.project-box
  //-   p 
  .cont-projects
    a.item-project(href="#/works#medclient")
      //- span 2007-2014
      //- i.hs-icon.logo.icon-choice
      h3 MedClient EHR
        small.label
      span Разработка, сертификация и внедрение в 3-х американских клиниках облачной EHR
    a.item-project(href="#/works#kainos")
      //- span 2015 год
      //- i.hs-icon.logo.icon-choice
      h3 Kainos
        small.label
      span Доработка Fhirbase под нужды проекта Kainos
    a.item-project(href="#/works#netrika")
      //- span 2015
      //- i.hs-icon.logo.icon-choice
      h3 Netrika
        small.label
      span Консультирование и обучение по HL7 FHIR и внедрение Fhirbase в рамках региональной шины
      i.fa.fa-chevrone-right

.container.products
  h3 Обучение &nbsp
    small 
      a.lbl(href="#/education") Все обучения (9)
  br
  .col-md-4
    a.item-product(href="#/education")
      span.image-product
        //- span B
      span.productname
        h3 Основы HL7 FHIR
          small.label
        p Восьмичасовой семинар по основным особенностям стандарта HL7 FHIR и экосистеме вокруг стандарта.
  .col-md-4  
    a.item-product(href="#/education")
      span.image-product
        //- span E
      span.productname
        h3 Анатомия Fhirbase
          small.label
        p Тренинг по архитектуре и использованию Fhirbase в разработке решений для здравоохранения.
  .col-md-4  
    a.item-product(href="#/education")
      span.image-product
        //- span M
      span.productname
        h3 Тренинг по DevOps
          small.label
        p Двухдневный тренинг по подходам и инструментам построения Continuouse Delivery Pipline

.container.offers
  h3 Виды сотрудничества &nbsp
  br
  ul.list-unstyled
    li.item-offer
      a(href="#/services#bootstrap")
        .row
          .col-md-1.text-center
            i.fa.fa-rocket.logo
          .col-md-10
            h4 "Быстрый старт проекта" и обучение вашей команды
            p Развернем наши технологичные продукты и обучим вашу команду для дальнейшей работы.
          .col-md-1
    li.item-offer
      a(href="#/services#bootstrap")
        .row
          .col-md-1.text-center
            i.fa.fa-rocket.logo
          .col-md-10
            h4 "Быстрый старт проекта" и разработка под заказ
            p Реализуем ваш проект на базе наших технологичных продуктов.
          .col-md-1
    li.item-offer
      a(href="#/services#fhirsupport")
        .row
          .col-md-1.text-center
            i.fa.fa-life-ring.logo
          .col-md-10
            h4 Коммерческая поддержка для продукта Fhirbase
            p Доработаем Fhirbase под ваши нужды, выделим специалиста для помощи и подпишем вас на обновления.
          .col-md-1
    li.item-offer
      a(href="#/services#fhirsupport")
        .row
          .col-md-1.text-center
            i.fa.fa-graduation-cap.logo
          .col-md-10
            h4 Обучение стандартам и нашим продуктам
            p Прочитаем семинары/тренинги по FHIR и нашим продуктам, обучим вашу команду.
          .col-md-1
    li.item-offer
      a(href="#/services#consultingaudit")
        .row
          .col-md-1.text-center
            i.fa.fa-binoculars.logo
          .col-md-10
            h4 Консультации и аудиты
            p Проведем аудит вашего решения, поможем адаптироваться к FHIR, поучаствуем в разработке архитектуры вашего решения.
          .col-md-1

.calltoaction.text-center
  h4 Готовы к сотрудничеству?
  p Если у вас остались какие либо вопросы, хотите увидеть демо наших решений или обсудить с нами ваш проект - оставьте запрос и мы свяжемся с вами.
  br
  a.btn.btn-default.btn-lg Сотрудничать

.container.news
  h3 Новости и статьи &nbsp
  br
  .row
    //- <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@health_samurai">Health Samurai</a>
  .row
    .col-md-6
      ul.list-unstyled
        li.item-article
          p.article-title 
            strong Название статьи
          p Имя автора, 05.12.2015
        li.item-article
          p.article-title 
            strong Название статьи
          p Имя автора, 05.12.2015
        li.item-article
          p.article-title 
            strong Название статьи
          p Имя автора, 05.12.2015
    .col-md-6
      ul.list-unstyled
        li.item-article
          p.article-title 
            strong Название статьи
          p Имя автора, 05.12.2015
        li.item-article
          p.article-title 
            strong Название статьи
          p Имя автора, 05.12.2015
        li.item-article
          p.article-title
            strong Название статьи
          p Имя автора, 05.12.2015

//- a(href="#foo/") Foo
