.signup-page
  .container
    .row
      .col-sm-6.col-sm-offset-3
        h1  Регистрация завершена
        p После проверки и подтверждения вашей учетной записи администрацией портала, вы сможете управлять вашими организациями.
        p Перейти на 
          a(href="/#/") главную страницу.
