.container-fluid.sub-title.text-center
  span.sub-moto Наши контакты
  span.sub-desc У нас есть представительства в двух странах и мы всегда готовы встретитсья и обсудить ваш проект.
  br
  span.email hello@health-samurai.io
  br
  span.phone_us USA: +1-818-731-1279
  br
  span.phone_ru Russia: +7-921-919-00-25
  br
  br
  a.btn.btn-default.btn-lg Сотрудничать

.container.products
  .col-md-6
    a.item-product
      h3 Санкт-Петербург &nbsp
          small Россия
      span.image-product
        //- i.fa.fa-gift.logo
      span.productname
        p Россия, Санкт-Петербург, ул. Большая морская 19
  .col-md-6
    a.item-product
      h3 Лос-Анджелес &nbsp
        small США, Калифорния
      span.image-product
        //- i.fa.fa-gift.logo
      span.productname
        p USA 832 Hermosa Ave Hermosa Beach, CA 90254
br
br
br