.container-fluid
	.contacts.text-center
		h3 Связаться с нами
		p Некоторый текст приветсвенный и рассказывающий о наших офисах и о том что мы готовы подъехать для общения face-to-face.
		br
		span.email hello@health-samurai.io
		br
		span.phone_us USA: +1-818-731-1279
		br
		span.phone_ru Russia: +7-921-919-00-25
		br
		br
		a.btn.btn-default.btn-lg Сотрудничать

	.container.cont-products
		.item-product
			.image-product
				//- i.fa.fa-fire.logo
			.productname
				h3 Санкт-Петербург &nbsp
					small Россия
				p Реляционное хранилище для медицинских данных на основе HL7 FHIR
				a(href="#/") Подробнее...
		.item-product
			.image-product
				//- i.fa.fa-gift.logo
			.productname
				h3 Лос-Анджелес &nbsp
					small США
				p USA 832 Hermosa Ave Hermosa Beach, CA 90254
		.item-product
			.image-product
				//- i.fa.fa-arrow-circle-o-right.logo
			.productname
				h3 Киев &nbsp
					small Укарина
				p Интеграционный модуль для преобразования сообщений HL7 v2.x в HL7 FHIR и обратно
				a(href="#/") Подробнее...
	br
	br
	br