.container-fluid.sub-title.text-center
	span.sub-moto Обучение от Health Samurai
	//- span.sub-desc Вместе с нашими клиентам мы создаем медицинские системы нового поколения, которые используются в разных частях мира.

.container
	#kainos.row.list-item
		.col-md-8.project-descrption
			h2 Введение в FHIR &nbsp
				small Support for Fhirbase
			p Самураи провели обучение команды Kainos по архитектуре Fhirbase и работе с ним. Осуществляют поддержку/доработку Fhirbase в рамках проекта Kainos.
			br
			.project-details(ng-class="{opened:kainos}")
				strong О проекте Kainos
				p Самураи провели обучение команды Kainos по архитектуре Fhirbase и работе с ним. Осуществляют поддержку/доработку Fhirbase в рамках проекта Kainos.
				br
				strong Продукты и технологии
				br
				span.label.custom-label PostgreSQL 9.4+ 
				&nbsp
				span.label.custom-label plv8 
				&nbsp
				span.label.custom-label HL7 FHIR 
				&nbsp
				br
				br
				br
			a.btn.btn-default.gotosite(href="javascript:void(0)" ng-click="kainos=!kainos") Подробнее
		//- .col-md-3
		//- 	.images
		//- 		.row
		//- 			a.image-1(href="#/")
		//- 				img.img-responsive(src="")
		//- 				img.img-responsive(src="")
		//- 			a.image-2(href="#/")
		//- 				img.img-responsive(src="")
		//- 		.row
		//- 			a.image-1(href="#/")
		//- 				img.img-responsive(src="")
		//- 			a.image-2(href="#/")
		//- 				img.img-responsive(src="")
	hr