.signup-page
  .container
    .row
      .col-sm-6.col-sm-offset-3
        h3 Подтвердите ваш email
        p На указанный вами адрес электронной почты было выслано письмо с инструкциями для подтверждения вашей учетной записи.
        p Перейти на 
          a(href="/#/") главную страницу.
