doctype HTML
html(ng-app='app')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Health Samurai
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', href='/favicon.png?2' type="image/x-icon")
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', type="text/css", href="/app.css", media="screen")

		//-script(src=require("./libs/angular.min.js"))
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-animate.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-cookies.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-sanitize.min.js')

		script(src='app.js')
	
	body

		.navigation
			.container
				span.nav_title 
					a(href="#/")
						i.hs-icon.icon-samurai &nbsp
						| Health Samurai
				ul.list-inline
					li 
						a(href="#/products") Продукты
					li 
						a(href="#/works") Проекты
					li 
						a(href="#/contacts") Контакты

		#view(ng-view='')
		
		#footer
			.container.footer
				.row
					.col-md-3
						h4 УСЛУГИ
						ul.list-unstyled
							li 
								a(href="#/services") Запуск и обучение
							li 
								a(href="#/services") Запуск и разработка
							li 
								a(href="#/services") Коммерческая поддержка
					.col-md-3
						h4 ПРОДУКТЫ
						ul.list-unstyled
							li 
								a(href="#/products#fhirbase") Fhirbase
							li 
								a(href="#/products#aidbox") Aidbox
							li 
								a(href="#/products#hl7mapper") HL7 Mapper
							li 
								a(href="#/products#formstamp") FormStamp
							li 
								a(href="#/products#foodtaster") FoodTaster
					.col-md-3
						h4 ОБУЧЕНИЕ
						ul.list-unstyled
							li 
								a(href="#/education") Введение в HL7 FHIR
							li 
								a(href="#/education") HL7 FHIR для продвинутых
					.col-md-3
						h4 Контакты
						ul.list-unstyled
							li 
								a(href="#/") USA: +1 (818) 731-12-79
							li 
								a(href="#/") Russia: +7 (812) 919-00-25
							li 
								a(href="mailto:hello@health-samurai.io") hello@health-samurai.io
