.container-fluid.sub-title.text-center
  span.sub-moto Наши продукты
  span.sub-desc Мы разрабатываем технологичные продукты на основе HL7 FHIR.

.container
  #fhirbase.row.list-item
    .col-md-3
      i.hs-icon.logo.icon-fhirbase
      //- тут надо реализовать выпадающий список технологий, поверх логотипа
      br
      br
      span.label.label-info PostgreSQL 9.4+
      br
      span.label.label-info plv8
      br
      span.label.label-info HL7 FHIR
    .col-md-8
      h3 Fhirbase &nbsp
        small Open Source
      span.product-slogan Реляционное хранилище медицинских данных на основе стандарта HL7 FHIR.
      br
      br
      p Fhirbase - это реляционное хранилище с встроенной моделью данных, соответствующей международному стандарту HL7 FHIR. Fhirbase подходит для построения медицинских информационных системы разных классов: электронные карты (EHR), интеграционные ”шины”, репозитории медицинских данных (реестры), госпитальные системы (HIS), порталы для пациентов и телемедицины.
      br
      strong Особенности Fhirbase
      ul
        li Fhirbase построен на PostgreSQL с использованием языка plv8
        li Fhirbase реализует модель данных соответсвующую HL7 FHIR
        li Fhirbase имеет простой API для обращения к данным (like REST)
      br
      a.btn.btn-default.gotosite(href="http://fhirbase.github.io" target="_blank") Сайт продукта
      a(href="https://github.com/fhirbase" target="_blank")
        i.fa.fa-github.add_links
      a(href="https://groups.google.com/forum/#!forum/fhirbase" target="_blank")
        i.fa.fa-comments-o.add_links

  hr
  #aidbox.row.list-item
    .col-md-3
      i.hs-icon.logo.icon-aidbox
      br
      br
      span.label.label-info Amazon AWS
      br
      span.label.label-info Fhirbase
      br
      span.label.label-info Clojure
      br
      span.label.label-info AnguraJS
    .col-md-8
      h3 Aidbox
      span.product-slogan Облачная платформа для создания медицинских систем на основе HL7 FHIR
      br
      br
      p Aidbox - это платформа "как сервис" (PaaS) для разработки медицинских решений на основе HL7 FHIR. Aidbox подходит для построения мобильных и web-решений оперирующих медицинскими данными: электронные карты (EHR), интеграционные ”шины”, репозитории медицинских данных (реестры), госпитальные системы (HIS), порталы для пациентов и телемедицины.
      br
      strong Особенности Aidbox
      ul
        li Aidbox использует Fhirbase для хранения данных
        li Aidbox реализует REST API на основе стандарта HL7 FHIR
        li Aidbox решает вопросы Security с использование OAuth
        li Aidbox предоставляет хостинг для базы и несложных single page applications
        li Aidbox имеет SDK и вы можете интегрироваться с решениями на ваших технологиях (Java, .Net etc...)
      br
      a.btn.btn-default.gotosite(href="https://aidbox.io/landing.html#/" target="_blank") Сайт продукта
  hr
  #hl7mapper.row.list-item
    .col-md-3
      i.hs-icon.logo.icon-mapper
      br
      br
      span.label.label-info Clojure
      br
      span.label.label-info HL7 FHIR
    .col-md-8
      h3 HL7 Mapper
      span.product-slogan Модуль для интеграции...
      br
      br
      p HL7 Mapper - это ...
      br
      strong Особенности HL7 Mapper
      ul
        li HL7 Mapper ...
      br
      a.btn.btn-default.gotosite(href="http://fhirbase.github.io" target="_blank") Сайт продукта
  hr
  #formstamp.row.list-item
    .col-md-3
      i.hs-icon.logo.icon-formstamp
      br
      br
      span.label.label-info AngularJS
    .col-md-8
      h3 FormStamp &nbsp
        small Open Source
      span.product-slogan Библиотека виджетов на "чистом" AngularJS
      br
      br
      p FormStamp - это платформа "как сервис" (PaaS) для разработки медицинских решений на основе HL7 FHIR. Aidbox подходит для построения мобильных и web-решений оперирующих медицинскими данными: электронные карты (EHR), интеграционные ”шины”, репозитории медицинских данных (реестры), госпитальные системы (HIS), порталы для пациентов и телемедицины.
      br
      strong Особенности FormStamp
      ul
        li Aidbox использует Fhirbase для хранения данных
        li Aidbox реализует REST API на основе стандарта HL7 FHIR
        li Aidbox решает вопросы Security с использование OAuth
        li Aidbox предоставляет хостинг для базы и несложных single page applications
        li Aidbox имеет SDK и вы можете интегрироваться с решениями на ваших технологиях (Java, .Net etc...)
      br
      a.btn.btn-default.gotosite(href="http://formstamp.github.io/#/" target="_blank") Сайт продукта
  hr
  #foodtaster.row.list-item
    .col-md-3
      i.hs-icon.logo.icon-foodtaster
      br
      br
      span.label.label-info Chef
      br
      span.label.label-info Vagrant
      br
      span.label.label-info RSpec
    .col-md-8
      h3 FoodTaster &nbsp
        small Open Source
      span.product-slogan Библиотека виджетов на "чистом" AngularJS
      br
      br
      p FormStamp - это платформа "как сервис" (PaaS) для разработки медицинских решений на основе HL7 FHIR. Aidbox подходит для построения мобильных и web-решений оперирующих медицинскими данными: электронные карты (EHR), интеграционные ”шины”, репозитории медицинских данных (реестры), госпитальные системы (HIS), порталы для пациентов и телемедицины.
      br
      strong Особенности FormStamp
      ul
        li Aidbox использует Fhirbase для хранения данных
        li Aidbox реализует REST API на основе стандарта HL7 FHIR
        li Aidbox решает вопросы Security с использование OAuth
        li Aidbox предоставляет хостинг для базы и несложных single page applications
        li Aidbox имеет SDK и вы можете интегрироваться с решениями на ваших технологиях (Java, .Net etc...)
      br
      a(href="https://github.com/mlapshin/foodtaster" target="_blank")
        i.fa.fa-github.add_links
.calltoaction.text-center
  h4 Готовы к сотрудничеству?
  p Если у вас остались какие либо вопросы, хотите увидеть демо наших решений или обсудить с нами ваш проект - оставьте запрос и мы свяжемся с вами.
  br
  a.btn.btn-default.btn-lg Сотрудничать