.container-fluid.sub-title.text-center
	span.sub-moto Виды сотрудничества
	//- span.sub-desc Вместе с нашими клиентам мы создаем медицинские системы нового поколения, которые используются в разных частях мира.

.container
	.row.list-item.services(id="bootstrap")
		small Bootstrap
		h2 Быстрый старт&nbsp
		p У вас есть новый проект, вы не хотите тянуть с выпуском в свет первой версии, но в тоже время заложить «правильный фундамент» для дальнейшего развития продукта, используя стандарты и международные наработки и опыт.
		br
		h4 Мы готовы помочь:
		br
		.row
			.col-md-1.service-step
				p 1
			.col-md-7.service-descrption
				p Вникнем в идею будущего решения, совместно сформируем Product Vision и очертим границы продукта. Проведем аналитическую работу и построим стартовую модель данных продукта на базе HL7 FHIR.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				p 2
			.col-md-7.service-descrption
				p Развернем и настроим наши технологичные продукты, которые закроют вопросы хранения информации, интеграции с другими системами через FHIR REST API и создадут хороший фундамент для разработки будущего решения.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				p 3
			.col-md-7.service-descrption
				p Обучим вашу команду FHIR стандарту, работе с нашими технологичными продуктами и поучаствуем в формировании архитектуры будущего продукта с учетом специфики.
				br
			.col-md-8.service-image
		h4 либо ...
		.row
			.col-md-1.service-step
				p 3
			.col-md-7.service-descrption
				p Возьмем на себя разработку вашего решения «под ключ», выделив под проект кроссфункциональную команду профессионалов и выстроив процесс разработки 2-х недельными итрациями, в лучших традициях гибких и бережливых подходов к разработке ПО.
				br
			.col-md-8.service-image
		hr(id="fhirsupport")
		br
		small Fhirbase Customization
		h2 Доработка Fhirbase под проект &nbsp
		p Вы используете в своем проекте хранилище с открытым кодом Fhirbase и у вас появилась потребность доработать этот продукт по специфику проекта. Вы понимаете, что лучше переложить эту работу на плечи идеологов и создателей Fhirbase.
		br
		h4 Мы готовы помочь:
		br
		.row
			.col-md-1.service-step
				p 1
			.col-md-7.service-descrption
				p Вникнем в ваш проект, обсудим недостающую в Fhirbase функциональность.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				p 2
			.col-md-7.service-descrption
				p Оценим трудоемкость, согласуем и заключим с вами договор на доработку Fhirbase под специфику вашего проекта.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				p 3
			.col-md-7.service-descrption
				p Доработаем Fhirbase и предоставим вам новую версию, дополненную недостающей функциональностью.
				br
			.col-md-8.service-image
		hr(id="fhirsupport")
		br
		small Fhirbase Support
		h2 Коммерческая поддержка Fhirbase &nbsp
		p Вы используете в своем проекте хранилище с открытым кодом Fhirbase, у вас регулярно возникают вопросы и вы хотите получать квалицицированную помощь без задержки.
		br
		h4 Мы готовы помочь:
		br
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				p Закрепим за вашим проектом специалиста, доступного для интерактивного решения возникающих вопросов.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				p Предоставим подписку на специальные обновления для Fhirbase, которые не входят в Open Source версию.
				br
			.col-md-8.service-image
		hr(id="consultingaudit")
		br
		small Consulting & Audit
		h2 Консалтинг и аудит &nbsp
		p Вы очень хотите "правильно", но не знаете как. У вас есть сложная задача, но у вас не получается ее решить, вы в поиске экспертов в области, которые проконсультируют и скажут как сделать правильно.
		br
		h4 Мы готовы помочь:
		br
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				p Поможем сформулировать концепцию решения, выявить требования к вашему продукту и построить модель данных для будущего решения на основе стандарта HL7 FHIR.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				p Поучаствуем в архитектурных сессиях с вашей командой и поможем выработать правильное решение: выбрать стандарт, спроектировать архитектуру. Подскажем какие международные наработки использовать.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				p Сделаем процессный и технический аудит вашего проекта и в результате дадим рекомендации по улучшениям.
				br
			.col-md-8.service-image
		hr(id="education")
		br
		small Education
		h2 Обучение стандартам и продуктам &nbsp
		p Вы присматриваетесь к стандарту HL7 FHIR и/или планируете использовать один из наших технологичных продуктов, но хотите чтобы переход на этот стандарт и технологии в вашей команде прошел наиболее гладко.
		br
		h4 Мы готовы помочь:
		br
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				strong Основы HL7 FHIR &nbsp
				span.label.custom-label семинар 
				p Обучим вашу команду основам стандарта HL7 FHIR, расскажем о созданной вокруг стандарта экосистеме, разберем ваши кейсы.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				strong Анатомия Fhirbase &nbsp
				span.label.custom-label тренинг 
				p Расскажем вашей команде об архитектуре и поможем освоить на упражнениях использование Fhirbase в разработке медицинскх решений.
				br
			.col-md-8.service-image
		.row
			.col-md-1.service-step
				i.fa.fa-star-o
			.col-md-7.service-descrption
				strong Культура DevOps &nbsp
				span.label.custom-label тренинг 
				p Расскажем и покажем вашей команде как создать инфраструктуру (ценности, практики, инструменты), позволяющую построить Continuous Delivery Pipeline.
				br
			.col-md-8.service-image

.calltoaction.text-center
	h4 Готовы к сотрудничеству?
	p Если у вас остались какие либо вопросы, хотите увидеть демо наших решений или обсудить с нами ваш проект - оставьте запрос и мы свяжемся с вами.
	br
	a.btn.btn-default.btn-lg Сотрудничать