.container-fluid.sub-title.text-center
	span.sub-moto Наши проекты
	span.sub-desc Мы разрабатываем медицинские web-решения нового поколения для наших клиентов, на основе наших технологичных продуктов.

.container
	.row.list-item
		.col-md-8
			span.date 2015 - ...
			h2 Kainos &nbsp
				small Support for Fhirbase
			p Самураи осуществляют поддержку/доработку Fhirbase по запросам от Kainos. Kainos создает медицинскую платформу для Великобретании.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2015
			h2 Нетрика.ДЛИ &nbsp
				small Consulting & Audit
			p Самураи проконсультировали Нетрику по межународным стандартам (HL7 v2, HL7 v3, HL7 FHIR) и помогли выбрать наиболее подходящий для их задач. Прочитали тренинг по основам HL7 FHIR. Поучаствовали в проектировании сервиса для обмена лабораторными данными и создании модели данных на основе HL7 FHIR.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2015 - ...
			h2 VitalSync &nbsp
				small Consulting & Custom development
			p Самураи консультируют по применению стандарта HL7 FHIR и занимаются разработкой интеграционного модуля для обработки входящего потока данных.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2015
			h2 МИАЦ.СЛТ &nbsp
				small Bootstrap & Custom development
			p Самураи спроектировали, разработали и запустили в использование web-сервис “МИАЦ.СЛТ” для управления справочником лабораторных тестов (like LOINC). Сервис спроектирован на основе стандарта HL7 FHIR и построен на базе технологичных продуктов Aidbox и Fhirbase.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2015
			h2 МИАЦ.МО &nbsp
				small Bootstrap & Custom development
			p Самураи спроектировали, разработали и запустили в использование web-сервис “МИАЦ.МО” для управления реестром медицинских организаций Санкт-Петербурга. Сервис спроектирован на основе стандарта HL7 FHIR и построен на базе технологичных продуктов Aidbox и Fhirbase.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2015
			h2 Holiadvice &nbsp
				small Custom development
			p Самураи спроектировали и разработали телемедицинский портал для "нетрадиционной" медицины. На данный момент используется в Израиле и планируется выход на международный рынок.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2014 - 2015
			h2 SaleMed &nbsp
				small Custom development
			p Самураи придумали, разработали и провели пилотный запуск электронной торговой площадки для МРТ-центров и страховых компаний в Санкт-Петербурге.
			br
		.col-md-3
	hr
	.row.list-item
		.col-md-8
			span.date 2007 - 2014
			h2 MedClient EHR &nbsp
				small Custom development
			p Самураи разработали, сертифицировали по программе ONC (Stage 1) и внедрили, в трех клиниках США, медицинскую информационную систему для госпиталей (EHR).
			br
		.col-md-3

.calltoaction.text-center
	h4 Готовы к сотрудничеству?
	p Если у вас остались какие либо вопросы, хотите увидеть демо наших решений или обсудить с нами ваш проект - оставьте запрос и мы свяжемся с вами.
	br
	a.btn.btn-default.btn-lg Сотрудничать
