@import url(https://fonts.googleapis.com/css?family=Exo+2:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext,cyrillic);

body{
	font-family: 'Exo 2', sans-serif;
	font-size: 18px;
	color: #333356;
	letter-spacing: 0.04em;
	font-weight: 300;
}

@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot');
  src: url('./font/fontello.eot') format('embedded-opentype'),
       url('./font/fontello.woff') format('woff'),
       url('./font/fontello.ttf') format('truetype'),
       url('./font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
     
.hs-icon{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mapper:before { content: '\e800'; } 
.icon-foodtaster:before { content: '\e801'; }
.icon-fhirbase:before { content: '\e802'; }
.icon-formstamp:before { content: '\e803'; }
.icon-choice:before { content: '\e804'; }
.icon-samurai:before { content: '\e805'; }
.icon-aidbox:before { content: '\e806'; }

.col-md-4{
	padding-left: 0px;
	padding-right: 0px;
}

#footer{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: rgba(46,48,58,0.96);
	// margin-top: 80px;
	color: white;
	a{
		color: #ddd;
	}
}

// Navigation Styles

.navigation{
	padding-top: 15px;
	padding-bottom: 20px;
	position: fixed;
	width: 100%;
	// background-color: #fafafa;
	background-color: transparent;
	opacity: 0.8;
	z-index: 3;
	span.nav_title{
		position: fixed;
		top: 0;
		width: 80px;
		height: 68px;
		background-color: #A23835;
		text-align: center;
		i{
			padding-top: 15px;
			text-align: center;
			color: white;
			text-decoration: none;
			font-size: 32px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	// span.nav_title{
	// 	display: inline-block;
	// 	padding-top: 10px;
	// 	font-weight: 600;
	// 	a{
	// 		color: #333356;
	// 		text-decoration: none;
	// 	}
	// }
	ul{
		display: inline-block;
		margin-bottom: 0px;
		float: right;
	}
	li{
		margin-right: 20px;
		margin-top: 8px;
		a{
			color: #A23835;
			padding: 10px 20px;
			border: 1px solid transparent;
			background-color: transparent;
		}
		a:hover{
			color: #A23835;
			text-decoration: none;
			border: 1px solid #A23835;
		}
	}
	li:last-child{
		margin-right: 0px;
	}
	li:hover{
		color: #A23835;
		// border: 1px solid #A23835;
		// background-color: #A23835;
		a{
			color: #A23835;
		}
	}
}

// Landing Styles

.title{
	padding-top: 220px;
	padding-bottom: 220px;
	border-bottom: 1px solid #ddd;
	// background-color: #ddd;
	// background-image:
 //    radial-gradient(
 //      white,
 //      #fafafa
 //    );
	position: relative;
	.layer{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background-image: url('/src/img/bg4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.2;
		z-index: -1;	
	}
	span.moto{
		font-size: 41px;
		font-weight: 600;
		display: block;
		line-height: 1.3em;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	span.desc{
		font-size: 21px;
		font-weight: 600;
		display: block;
		padding-top: 24px;
		opacity: 0.88;
		max-width: 800px;
		line-height: 1.5em;
		margin-left: auto;
		margin-right: auto;
	}
	span.title_piece{
		color: #A23835;
		font-weight: 600;
	}
	.logo-place{
		position: absolute;
		width: 80px;
		height: 80px;
		background-color: #A23835;
		top: 0px;

		i.logo-bottom{
			color: white;
			padding-top: 20px;
			font-size: 32px;
		}
	}
	a.hairus{
		font-size: 18px;
	}
}

// .logo-place{
// 	position: relative;
// 	width: 80px;
// 	height: 100px;
// 	background-color: #A23835;
// 	top: -100px;
// 	i.logo-bottom{
// 		color: white;
// 		padding-top: 20px;
// 		font-size: 39px;
// 	}
// }

.sub-title{
	padding-top: 160px;
	padding-bottom: 100px;
	border-bottom: 1px solid #ddd;
	background-color: #a23835;
	color: white;
	span.sub-moto{
		font-size: 41px;
		line-height: 1.3em;
		display: block;
	}
	span.sub-desc{
		font-size: 18px;
		padding-top: 24px;
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		// color: #888;
		line-height: 1.5em;
		display: block;
	}
}

.projects{
	padding-top: 60px;
	padding-bottom: 60px;
}

.education{
	padding-top: 60px;
	padding-bottom: 60px;
}

.offers{
	padding-top: 60px;
	padding-bottom: 60px;
}

.news{
	padding-top: 60px;
	padding-bottom: 60px;
}

.lbl{
	color: #888;
}

.lbl:hover{
	text-decoration: none;
	color: #A23835;
	font-weight: 600;
}

.custom-label{
	font-weight: 300;
	margin-right: 4px;
	margin-bottom: 4px;
	padding: 10px 10px;
	display: inline-block;
	border: 1px solid #ddd;
	color: #888;
	background-color: #fafafa;

}

.products{
	padding-top: 60px;
	padding-bottom: 60px;
	a.item-product{
		margin-right: 10px;
		border: 1px solid transparent;
		text-decoration: none;
		color: #333356;
		display: block;
		span.image-product{
			position: relative;
			overflow: hidden;
			font-size: 144px;
			text-align: center;
			width: 100%;
			height: 200px;
			border: 1px solid #ddd;
			// background-color: #fafafa;
			color: #888;
			display: inline-block;
			// background-image: url(http://studiompls.com/assets/nourish_thumb_color.jpg);
			background-size: 400px;
			background-position: center;
			h1.product_labal{
				position: absolute;
				font-size: 38px;
				bottom: 0px;
				left: 10px;
				// color: #333356;
				color: #A23835;;
			}
			i{
				position: absolute;
				top: 10px;
				right: -70px;
				font-size: 160px;
				color: #ddd;
			}
		}
		span.productname{
			padding-top: 10px;
			padding-left: 10px;
			// padding-right: 20px;
			display: inline-block;
		}
	}
}

a.item-product:hover{
	cursor: pointer;
	span.image-product{
		border: 1px solid #A23835;
		// background-color: #A23835;
		color: #A23835;
		h1.product_labal{
			color: #A23835;
		}
		i{
			color: #A23835;
		}
	}
	span.productname{
		h3{
		color: #A23835;
		}
	}
}

.cont-projects{
	a.item-project{
		position: relative;
		overflow: hidden;
		display: inline-block;
		text-decoration: none;
		color: #333356;
		width: 100%;
		margin-right: 10px;
		// border: 1px solid #ddd;
		margin-bottom: 10px;
		padding-left: 40px;
		padding-bottom: 20px;
		padding-top: 20px;
		border-left: 4px solid #ddd;
		// background-color: #fafafa;
	}
	h3{
		margin-top: 4px;
		margin-bottom: 10px;
	}
	i{
		position: absolute;
		top: 20px;
		left: -100px;
		font-size: 144px;	
		color: #ddd;	
  }
}

.project-box{
	border: 1px solid white;
	background-color: #fafafa;
	height: 300px;
}

a.item-project:hover{
	border-left: 4px solid #A23835;
	background-color: #fafafa;
	cursor: pointer;
	h3 {
		color: #A23835 !important;
	}
}

.offers{
	li{
		border-top: 1px solid #ddd;
	}
	li:last-child{
		border-bottom: 1px solid #ddd;
	}
	li:hover{
		background-color: #fafafa;
		cursor: pointer;
		h4{
			color: #A23835;
		}
		i.logo{
			color: #A23835;
		}
	}
	.item-offer{
		padding: 20px;
		h4{
			margin-bottom: 6px;
		}
		p{
			color: #888;
		}
		i.logo{
			padding-top: 10px;
			color: #888;
			font-size: 41px;
		}
	}
}

.calltoaction{
	padding: 100px 0px;
	color: white;
	// border-bottom: 1px solid #ddd;
	// border-top: 1px solid #ddd;
	background-color: #A23835; 
	// #f9de76;
	p{
		width: 400pt;
		color: white;
		margin-right: auto;
		margin-left: auto;
	}
}

.news{
	padding-bottom: 80px;
	li{
		border-bottom: 1px solid #ddd;
		padding: 10px 10px;
	}
	li:first-child{
		border-top: 1px solid #ddd;
	}
	.article-title{
		margin-bottom: 0px;
	}
	li:hover{
		background-color: #fafafa;
		cursor: pointer;
		strong{
			color: #A23835;
		}
	}
}

.img-responsive{
	overflow: hidden;
}

/* Product's Page */
.list-item{
	padding-top: 80px;
	padding-bottom: 80px; 
}

.list-item{
	i.logo{
		font-size: 144px;
		text-align: center;
	}
	h2{
		margin-top: 6px;
	}
	span.date{
		color: #35A25A;
		// font-style: italic;
		font-size: 14px;
	}
}

.additional-info{
	padding-top: 20px;
	font-size: 13px;
	padding-left: 40px;
	// border-left: 1px solid #ddd;
	ul.product-articles{
		padding-top: 10px;
	}
}

ul.product-works{
		padding-top: 10px;
		li{
			padding: 10px 0px;
			border-bottom: 1px solid #ddd;
			p{
				margin-bottom: 0px;
			}
		}
		li:first-child{
			border-top: 1px solid #ddd;
		}
		li:hover{
			background-color: #fafafa;
		}
	}

i.add_links{
	font-size: 36px;
	padding-left: 20px;
	vertical-align: middle;
	color: #888;
}

i.add_links:hover{
	color: #A23835;
}

a.btn.gotosite{
	border: 1px solid #A23835;
	border-radius: none !important;
	color: #A23835;
}

a.btn.gotosite:hover{
	background-color: #A23835;
	color: white;
}

/* Works Page */
.project-descrption{
	padding-right: 40px;
}

.images{
	width: 100%;
	height: 200px;
	a.image-1{
		float: left;
		background-color: #ddd;
		width: 50%;
		height: 100px;
		border: 1px solid white;
	}
	a.image-2{
		float: right;
		background-color: #ddd;
		width: 50%;
		height: 100px;
		border: 1px solid white;
	}
	a:hover{
		border: 1px solid #A23835;
		background-color: #A23835;
	}
}

.project-details{
	display: none;
	&.opened{
		display: block;
	}
}

/* Service Page */

.services{
	hr{
		margin: 60px 0px;
	}
	small {
		color: green;
	}
}

.service-step{
	text-align: center;
	p{font-size: 51px;}
	i{font-size: 51px;}
}

.service-step i{
	font-size: 51px;
	text-align: center;
}

/* Contacts Page */

.contacts{
	padding-top: 160px;
	padding-bottom: 160px;
	border-bottom: 1px solid #ddd;
	background-color: #fafafa;
	p{
		max-width: 600px;
		margin-right: auto;
		margin-left: auto;
	}
	span{
		line-height: 1.8em;
	}
}




